<div class="row">
    <div class="col-md-4">

        <h3> Saved Blueprints </h3>

        <ul class="list-unstyled">
            <li *ngFor="let blueprint of blueprints">
                <a (click)="bpSelected = blueprint">
                    {{blueprint.name}} <i class="fa fa-info-circle"></i>
                </a>
            </li>
        </ul>

    </div>
    <div class="col-md-8">

        <ul class="list-unstyled list-group" *ngIf="bpSelected">
            <li class="list-group-item text-center" >
                <span title="type" class="pull-left text-muted"> {{bpSelected.type}} </span>
                <span title="version" class="pull-left text-muted"> :ver.{{bpSelected.version}} </span>
                <span> {{bpSelected.name}} </span>
                <span title="state" class="pull-right text-muted"> {{bpSelected.state}} </span>
            </li>
            <li class="list-group-item" title="provisioner"> {{bpSelected.provisioner}} </li>
            <li class="list-group-item">
                <h4>Stages</h4>
                <ul class="list-unstyled list-group">
                    <li class="list-group-item" *ngFor="let s of bpSelected.stages | keys">
                        <ul class="list-unstyled list-group">
                            <li class="list-group-item" title="stage"> {{s}} </li>
                            <li class="list-group-item" title="description"> {{bpSelected.stages[s].description}} </li>
                            <li class="list-group-item" title="image"> {{bpSelected.stages[s].image}} </li>
                            <li class="list-group-item">
                                <h5>Ports</h5>
                                <ul class="list-unstyled">
                                    <li *ngFor="let port of bpSelected.stages[s].ports">
                                        <span title="fromPort"> {{port.fromPort}} </span>
                                        : <span title="toPort"> {{port.toPort}} </span>
                                    </li>
                                </ul>
                            </li>
                            <li class="list-group-item" *ngIf="bpSelected.stages[s].variables">
                                <h5>Variables</h5>
                                <ul class="list-unstyled">
                                    <li *ngFor="let k of bpSelected.stages[s].variables | keys">
                                        {{k}} : {{bpSelected.stages[s].variables[k]}}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</div>
