<div class="row">
    <div class="col-md-4">

        <h3> Saved Blueprints </h3>

        <ul class="nav nav-pills nav-stacked">
            <li *ngFor="let blueprint of blueprints" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/blueprints', blueprint.name]">
                    {{blueprint.name}}
                </a>
            </li>
        </ul>

    </div>
    <div class="col-md-8">

        <blueprint-details [blueprint]="bpSelected"></blueprint-details>

    </div>
</div>
