<div class="row">
    <div class="col-md-4">

        <h3> Saved Blueprints </h3>

        <ul class="nav nav-pills nav-stacked">
            <li *ngFor="let blueprint of blueprints" routerLinkActive="active">
                <a [routerLink]="['/blueprints', blueprint.uuid]">
                    <span class="badge-spacer">
                        <span class="badge badge-box badge-orange"
                            title="new stages"
                            [innerHTML]="(blueprint.ui.stagesStatesBages.orange > 0) ? blueprint.ui.stagesStatesBages.orange : ''"></span>
                        <span class="badge badge-box badge-grey"
                            title="inactive stages"
                            [innerHTML]="(blueprint.ui.stagesStatesBages.grey > 0) ? blueprint.ui.stagesStatesBages.grey : ''"></span>
                        <span class="badge badge-box badge-green"
                            title="active stages"
                            [innerHTML]="(blueprint.ui.stagesStatesBages.green > 0) ? blueprint.ui.stagesStatesBages.green : ''"></span>
                    </span>
                    {{blueprint.name}}
                </a>
            </li>
        </ul>

    </div>
    <div class="col-md-8">

        <blueprint-details [blueprint]="bpSelected"></blueprint-details>

    </div>
</div>
