<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="toggleNavbar = !toggleNavbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['Home']">NorthShore</a>
    </div>
    <div class="navbar-collapse collapse" [collapse]="!toggleNavbar">
      <ul class="nav navbar-nav navbar-left">
        <li [class.active]="router.isRouteActive(router.generate(['Dashboard']))">
          <a [routerLink]="['Dashboard']">Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <main class="col-sm-12 col-md-12">
      <router-outlet></router-outlet>

      <button (click)="checkAlerts()">Check alerts</button>
    </main>
  </div>
</div>

<div class="container alerts">
  <div class="alerts-float container">
    <div class="alerts-float-wrapper">
      <alert
        *ngFor="let alert of getAlerts(); let idx = index"
        (close)="deleteAlert(idx)"
        dismissible="true"
        [dismissOnTimeout]="alertDismiss"
        [type]="alert.type">
        {{ alert?.message }}
      </alert>
    </div>
  </div>
</div>
